@import './../global.css';
@import './../colors.css';
@import './../common/button.css';

body, html {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input, textarea {
    padding: 20px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px -15px var(--dark-blue);
}

input:focus, textarea:focus {
    box-shadow: 2px 2px 20px -10px var(--dark-blue);;
}

textarea {
    resize: vertical;
    max-height: 100px;
    min-height: 30px;
}

.review-container {
    display: flex;
    flex-direction: column;
}

#sections {
    display: flex;
    flex-direction: column;
    height: 300px;
}

#sections h1 {
   padding-bottom: 20px  ;
}

#sections section {
    padding-bottom: 10px;
}