:root {
    --dark-blue: #090834;
    --light-blue: rgb(20, 19, 72);
    --gray: #f2f1f1;
    --dark-gray: #b9b9b9;
    --orange-yellow: #F7C515;
    --cyan: #91D8CF;
    --white: #fdfdfd;
    --error-color: #FF1F00;
}