@import 'colors.css';

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--white);
}

form {
    box-shadow: 7px 7spx 5px var(--gray);
    width: 420px;
    color: var(--white);
    background-image: url('../../assets/images/hero_img.png');
    background-size: cover; 
    background-position: center;
    background-color: var(--dark-blue);
    background-blend-mode: darken;
    border-radius: 1em;
}

form .logo {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 5px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

form h1 {
    margin-top: 70px;
    font-size: 36px;
    text-align: center;
}

form .input_box {
    width: 100%;
    height: 90px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.input_box input {
    box-sizing: border-box;
    width: 70%;
    height: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    padding-left: 10%;
    color: var(--white);
}

.input_box input:focus {
    outline: none;
}

.input_box h3 {
    position: relative;
    left: 15%;
}

.input_box .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_box .wrapper i {
    position: absolute;
    left:15%;
    margin-bottom: 9px;
    font-size: 1.5em;
}

#lock {
    cursor: pointer;
}

form .forgot_password a{
    display: flex;
    justify-content: right;
    margin-right: 2.8em;
    margin-top: -20px;
    text-decoration: none;
    color: var(--white);
}

form .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.btn .solid-button {
    background-color: var(--orange-yellow);
    padding: 1em 5em 1em 5em;
    color: var(--dark-blue);
    border-radius: 10px;
    border: var(--orange-yellow) solid;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn .trasparent-button {
    background-color: transparent;
    padding: 1em 4em 1em 4em;
    color: var(--white);
    border-radius: 10px;
    border: solid white;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}




